<div class="ng-hide ui grid" ng-show="userinfo.dept === 'CS'">

	<div class="row">
		<div class="sixteen wide column">
			<h3>Workflow</h3>
		</div>
	</div>

	<div class="row">

		<!-- Chat Agents -->
		<div class="twelve wide tablet three wide computer column">
			<div class="ui card">

				<!-- Header -->
				<div class="content">
					<div class="header">
						<i class="chat icon"></i> Chats
					</div>
				</div>

				<!-- Body -->
				<div class="content">

					<!-- chats queued & longest wait time -->
					<strong>{{ api.workflow.chatsQueued }} queued</strong> @ <em>{{ api.workflow.chatWaitTime | secondsReadable : 'short' }}</em>

					<br style="clear:both;"/>

					<div class="ui list">

						<!-- iterate over users -->
						<div class="item" ng-repeat="(username, object) in api.workflow.agents.chats">

							<!-- Accepting Chats -->
							<span ng-click="open( username, 'chats', 'available', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 1" class="small green comment icon"></i>
							</span>

							<!-- Not Accepting Chats -->
							<span ng-click="open( username, 'chats', 'unavailable', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 2" class="small yellow comment icon"></i>
							</span>

							<!-- Offline Chats -->
							<span ng-click="open( username, 'chats', 'offline', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 0" class="small comment icon"></i>
							</span>

							<!-- Accepting Calls -->
							<span ng-click="open( username, 'calls', 'available', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Accepting calls" ng-if="object.channels_available.calls === 1" class="small green headphone icon"></i>
							</span>

							<!-- Not Accepting Calls -->
							<span ng-click="open( username, 'calls', 'unavailable', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Not accepting calls" ng-if="object.channels_available.calls === 2" class="small yellow headphone icon"></i>
							</span>

							<!-- Offline Calls -->
							<span ng-click="open( username, 'calls', 'unavailable', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Logged out of phones" ng-if="object.channels_available.calls === 0" class="small headphone icon"></i>
							</span>

							<!-- Agent Username -->
							<span ng-class="{ workingEarly: object.workingEarly === 1 }">{{ object.name }}</span>

							<!-- Active Interactions -->
							<span ng-repeat="(key, subProp) in object">

								<!-- Chats -->
								<i ng-repeat="(channel, data) in subProp.chats track by $index" ng-class="{ 'red': data.duration >= 1200, 'blue': data.duration < 1200 }" class="small comments icon interaction" data-title="{{ data.customer_name }}" data-content="{{ data.duration | secondsReadable : 'short' }}"></i>
								

								<!-- Calls -->
								<i ng-repeat="(channel, data) in subProp.calls track by $index" ng-class="{ 'red': data.duration >= 1200, 'blue': data.duration < 1200 }" class="small headphone icon interaction" data-content="{{ data.duration | secondsReadable : 'short' }}"></i>

								<!-- Tickets -->
								<a 
								ng-repeat="(channel, data) in subProp.tickets track by $index" 
								target="_blank" 
								href="https://hostops.mediatemple.net/util/hoframe.php?url=%2Faccount%2F%3Fview%3Dticket%26id%3D{{ data }}" 
								title="t:{{ data }}">
									<i class="small ticket icon"></i>
								</a>
							</span>

							<i tooltip-placement="top" tooltip="Wrap-up" ng-if="object.wrap_up === 1" class="exchange icon" style="color:#F3978B;"></i>
						</div>
						<!-- end list items ngRepeat -->
					</div>
					<!-- end list -->
				</div>
			</div>
			<br style="clear:both;"/>
		</div>
		<!-- End Chat Agents -->

		<!-- Phone Agents -->
		<div class="twelve wide tablet three wide computer column">
			<div class="ui card">

				<!-- Header -->
				<div class="content">
					<div class="header">
						<i class="phone icon"></i> Phones
					</div>
				</div>

				<!-- Body -->
				<div class="content">

					<!-- chats queued & longest wait time -->
					<strong>{{ api.workflow.callsQueued }} queued</strong> @ <em>{{ api.workflow.callWaitTime | secondsReadable : 'short' }}</em>

					<br style="clear:both;"/>

					<div class="ui list">
						<!-- iterate over users -->
						<div class="item" ng-repeat="(username, object) in api.workflow.agents.calls">

							<!-- Accepting Chats -->
							<span ng-click="open( username, 'chats', 'available', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 1" class="small green comment icon"></i>
							</span>

							<!-- Not Accepting Chats -->
							<span ng-click="open( username, 'chats', 'unavailable', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 2" class="small yellow comment icon"></i>
							</span>

							<!-- Offline Chats -->
							<span ng-click="open( username, 'chats', 'offline', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 0" class="small comment icon"></i>
							</span>

							<!-- Accepting Calls -->
							<span ng-click="open( username, 'calls', 'available', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Accepting calls" ng-if="object.channels_available.calls === 1" class="small green headphone icon"></i>
							</span>

							<!-- Not Accepting Calls -->
							<span ng-click="open( username, 'calls', 'unavailable', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Not accepting calls" ng-if="object.channels_available.calls === 2" class="small yellow headphone icon"></i>
							</span>

							<!-- Offline Calls -->
							<span ng-click="open( username, 'calls', 'unavailable', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Logged out of phones" ng-if="object.channels_available.calls === 0" class="small headphone icon"></i>
							</span>

							<!-- Agent Username -->
							<span ng-class="{ workingEarly: object.workingEarly === 1 }">{{ object.name }}</span>

							<!-- Active Interactions -->
							<span ng-repeat="(touches, subProp) in object">

								<!-- Chats -->
								<i ng-repeat="(channel, data) in subProp.chats track by $index" ng-class="{ 'red': data.duration >= 1200, 'blue': data.duration < 1200 }" class="small comments icon interaction" data-title="{{ data.customer_name }}" data-content="{{ data.duration | secondsReadable : 'short' }}"></i>
								

								<!-- Calls -->
								<i ng-repeat="(channel, data) in subProp.calls track by $index" ng-class="{ 'red': data.duration >= 1200, 'blue': data.duration < 1200 }" class="small headphone icon interaction" data-content="{{ data.duration | secondsReadable : 'short' }}"></i>

								<!-- Tickets -->
								<a 
								ng-repeat="(channel, data) in subProp.tickets track by $index" 
								target="_blank" 
								href="https://hostops.mediatemple.net/util/hoframe.php?url=%2Faccount%2F%3Fview%3Dticket%26id%3D{{ data }}" 
								title="t:{{ data }}">
									<i class="small ticket icon"></i>
								</a>
							</span>

							<i tooltip-placement="top" tooltip="Wrap-up" ng-if="object.wrap_up === 1" class="fa fa-exchange" style="color:#F3978B;"></i>
						</div>
						<!-- end list items ngRepeat -->
					</div>
					<!-- end list -->

				</div>
			</div>
			<br style="clear:both;"/>
		</div>
		<!-- End Phone Agents -->

		<!-- Ticket, Social, Logged-out -->
		<div class="twelve wide tablet three wide computer column">

			<!-- Ticket Agents -->
			<div class="ui card">

				<!-- Header -->
				<div class="content">
					<div class="header">
						<i class="ticket icon"></i> Tickets
					</div>
				</div>

				<!-- Body -->
				<div class="content">

					<!-- ticket queue wait times -->
					<strong>{{ api.workflow.ticketsQueued }} queued</strong>
					<br style="clear:both;"/>
					<em><strong>{{ api.workflow.ticketsQueuedOver20Hours }}</strong> over 20hrs</em>
					<br style="clear:both;"/>
					<em><strong>{{ api.workflow.ticketsQueuedOver12Hours }}</strong> over 12hrs</em>

					<br style="clear:both;"/>

					<div class="ui list">
						<!-- iterate over users -->
						<div class="item" ng-repeat="(username, object) in api.workflow.agents.tickets">

							<!-- Accepting Chats -->
							<span ng-click="open( username, 'chats', 'available', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 1" class="small green comment icon"></i>
							</span>

							<!-- Not Accepting Chats -->
							<span ng-click="open( username, 'chats', 'unavailable', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 2" class="small yellow comment icon"></i>
							</span>

							<!-- Offline Chats -->
							<span ng-click="open( username, 'chats', 'offline', 0 )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i ng-if="object.channels_available.chats === 0" class="small comment icon"></i>
							</span>

							<!-- Accepting Calls -->
							<span ng-click="open( username, 'calls', 'available', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Accepting calls" ng-if="object.channels_available.calls === 1" class="small green headphone icon"></i>
							</span>

							<!-- Not Accepting Calls -->
							<span ng-click="open( username, 'calls', 'unavailable', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Not accepting calls" ng-if="object.channels_available.calls === 2" class="small yellow headphone icon"></i>
							</span>

							<!-- Offline Calls -->
							<span ng-click="open( username, 'calls', 'unavailable', object.asterisk_id )" ng-class="{ workingEarly: object.workingEarly === 1 }">
								<i title="Logged out of phones" ng-if="object.channels_available.calls === 0" class="small headphone icon"></i>
							</span>

							<!-- Agent Username -->
							<span ng-class="{ workingEarly: object.workingEarly === 1 }">{{ object.name }}</span>

							<!-- Active Interactions -->
							<span ng-repeat="(touches, subProp) in object">

								<!-- Chats -->
								<i ng-repeat="(channel, data) in subProp.chats track by $index" ng-class="{ 'red': data.duration >= 1200, 'blue': data.duration < 1200 }" class="small comments icon interaction" data-title="{{ data.customer_name }}" data-content="{{ data.duration | secondsReadable : 'short' }}"></i>
								

								<!-- Calls -->
								<i ng-repeat="(channel, data) in subProp.calls track by $index" ng-class="{ 'red': data.duration >= 1200, 'blue': data.duration < 1200 }" class="small headphone icon interaction" data-content="{{ data.duration | secondsReadable : 'short' }}"></i>

								<!-- Tickets -->
								<a 
								ng-repeat="(channel, data) in subProp.tickets track by $index" 
								target="_blank" 
								href="https://hostops.mediatemple.net/util/hoframe.php?url=%2Faccount%2F%3Fview%3Dticket%26id%3D{{ data }}" 
								title="t:{{ data }}">
									<i class="small ticket icon"></i>
								</a>
							</span>

							<i tooltip-placement="top" tooltip="Wrap-up" ng-if="object.wrap_up === 1" class="fa fa-exchange" style="color:#F3978B;"></i> 
						</div>
						<!-- end list items ngRepeat -->
					</div>
					<!-- end list -->
				</div>
			</div>
			<!-- End Ticket Agents -->
			
			<!-- Social -->
			<div class="ui card">

				<!-- Header -->
				<div class="content">
					<div class="header">
						<i class="announcement icon"></i>Conversocial
					</div>
				</div>

				<!-- Body -->
				<div class="content">
					<strong>{{ api.workflow.conversocialUnread }} unread</strong>
				</div>
			</div>

			<!-- Logged-out Agents -->
			<div class="ui card">
				<div class="content">
					<div class="header">Logged-out</div>
				</div>
				<div class="content">
					<div class="ui list">
						<!-- iterate over logged out users -->
						<div class="item" ng-repeat="(key, obj) in api.workflow.notLoggedIntoChannel">
							{{ obj.name }}
						</div>
					</div>
				</div>
			</div>
			<br style="clear:both;"/>
		</div>
		<!-- End Ticket Agents -->

		<!-- SCHEDULE PANELS -->
		<div class="sixteen wide tablet six wide computer column">

			<!-- UPCOMING SCHEDULE -->
			<div class="ui item">

				<h3>Upcoming Schedule</h3>
				
				<div class="scrollable-panel">
					<div class="ui list">

						<!-- filters incomplete -->
						<div class="ui mini buttons">
							<button 
							ng-class="{ 'blue': upcomingFilter === 'all' }" 
							class="ui button" 
							ng-click="upcomingScheduleFilter('all')">All</button>

							<button 
							ng-class="{ 'blue': upcomingFilter === 'Start' }" 
							class="ui button" 
							ng-click="upcomingScheduleFilter('Start')">Clock-ins</button>

							<button 
							ng-class="{ 'blue': upcomingFilter === 'Break' }" 
							class="ui button" 
							ng-click="upcomingScheduleFilter('Break')">Break</button>

							<button 
							ng-class="{ 'blue': upcomingFilter === 'Lunch' }" 
							class="ui button" 
							ng-click="upcomingScheduleFilter('Lunch')">Lunch</button>

							<button 
							ng-class="{ 'blue': upcomingFilter === 'Other' }" 
							class="ui button" 
							ng-click="upcomingScheduleFilter('Other')">Other</button>
						</div>
						<!-- end filters -->

						<!-- begin line items -->
						<table class="ui very basic compact table">
							<thead>
								<tr>
									<th>
										<a ng-click="orderByField('time', 'upcoming')">
					         				Time
							        	</a>
							        </th>
									<th>
										<a ng-click="orderByField('type', 'upcoming')">
					         				Type
							        	</a>
							        </th>
									<th>
										<a ng-click="orderByField('name', 'upcoming')">
					         				Agent
							        	</a>
							        </th>
									<th>
										<a ng-click="orderByField('channel', 'upcoming')">
					         				Channel
							        	</a>
							        </th>
								</tr>
							</thead>
							<tbody>
								<tr
								ng-cloak
								ng-hide="upcomingFilter !== object.class && upcomingFilter !== 'all'"
								ng-show="upcomingFilter === object.class || upcomingFilter === 'all'"
								ng-repeat="(key, object) in api.workflow.workflowScheduleItemsUpcoming | orderBy:order.field.upcoming:order.sort.upcoming"
								class="{{ object.class }}">
									<td>{{ object.time }}</td>
									<td>{{ object.type }}</td>
									<td>{{ object.name }}</td>
									<td>{{ object.channel }}</td>
								</tr>
							</tbody>
						</table>
						<!-- end line items -->
					</div>
				</div>
			</div>
			<!-- end upcoming schedule -->
			<br style="clear:both"/>

			<!-- ACTIVE EXCEPTIONS -->
			<div class="ui item">

				<h3>Active Exceptions</h3>
				
				<div class="scrollable-panel">
					<div class="ui list">

						<!-- filters incomplete -->
						<div class="ui mini buttons">
							<button 
							ng-class="{ 'blue': activeFilter === 'all' }" 
							class="ui button" 
							ng-click="activeExceptionsFilter('all')">All</button>

							<button 
							ng-class="{ 'blue': activeFilter === 'Break' }" 
							class="ui button" 
							ng-click="activeExceptionsFilter('Break')">Break</button>

							<button 
							ng-class="{ 'blue': activeFilter === 'Lunch' }" 
							class="ui button" 
							ng-click="activeExceptionsFilter('Lunch')">Lunch</button>

							<button 
							ng-class="{ 'blue': activeFilter === 'Other' }" 
							class="ui button" 
							ng-click="activeExceptionsFilter('Other')">Other</button>

							<button 
							ng-class="{ 'blue': activeFilter === 'Absence' }" 
							class="ui button" 
							ng-click="activeExceptionsFilter('Absence')">Absence</button>
						</div>
						<!-- end filters -->

						<!-- begin line items -->
						<table class="ui very basic compact table">
							<thead>
								<tr>
									<th>
										<a ng-click="orderByField('time', 'active')">
					         				Minutes
							        	</a>
							        </th>
									<th>
										<a ng-click="orderByField('type', 'active')">
					         				Type
							        	</a>
							        </th>
									<th>
										<a ng-click="orderByField('name', 'active')">
					         				Agent
							        	</a>
							        </th>
									<th>
										<a ng-click="orderByField('channel', 'active')">
					         				Channel
							        	</a>
							        </th>
								</tr>
							</thead>
							<tbody>
								<tr
								ng-show="activeFilter === object.class || ( activeFilter === 'all' && object.class !== 'Absence' )"
								ng-repeat="(key, object) in api.workflow.workflowScheduleItemsNow | orderBy:order.field.active:order.sort.active"
								class="ng-hide"
								ng-class="object.class">
									<td>{{ object.time }}</td>
									<td>{{ object.type }}</td>
									<td>{{ object.name }}</td>
									<td>{{ object.channel }}</td>
								</tr>
							</tbody>
						</table>
						<!-- end line items -->
					</div>
				</div>
			</div>
			<br style="clear:both;"/>
			<!-- end active exceptions -->
		</div>
		<!-- end schedule items -->
	</div>
</div>